/* Add this to your component's CSS or a global CSS file */
.nav {
  transition: max-width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.nav-hidden {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.nav-visible {
  max-height: 100px; /* Set to an appropriate value */
  opacity: 1;
}

.test{
    background: rgba(255,255,255,0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.25);
}