<div class="container">
    <!-- <h1>Click to Move Example</h1> -->
  
    <div class="row flex flex-row justify-evenly items-center overflow-x-clip">
      <div class="col-6 w-1/2 h-1/4">
        <div class="list overflow-scroll ">
          <h3>Available</h3>
          <div class="list-item" *ngFor="let item of list1Items" (click)="moveItem(item, list2Items)">
            {{ item }}
          </div>
        </div>
      </div>
      <div class="col-6 w-1/2 h-1/4">
        <div class="list overflow-scroll overflow-x-clip">
          <h3>Selected</h3>
          <div class="list-item" *ngFor="let item of list2Items">
            {{ item }}
            <button class="remove-btn" (click)="removeItem(item, list2Items)">✕</button>
          </div>
        </div>
      </div>
    </div>
  
    
  </div>