<div class="h-screen w-screen flex justify-center bg-[#e8e8e8]">
    <div class="flex flex-col h-screen w-screen justify-center items-center relative">
      <div class="absolute -top-32 -right-32 md:size-96 size-64">
        <svg id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path fill="#d268cc" d="M450,308.5Q429,377,368,412Q307,447,239.5,448.5Q172,450,110.5,414.5Q49,379,34,309.5Q19,240,38,173.5Q57,107,111.5,59.5Q166,12,237,22Q308,32,369,67Q430,102,450.5,171Q471,240,450,308.5Z" />
        </svg>
      </div>
  
      <div class="bg-cover w-72 h-60 -bottom-3 -left-20 absolute md:w-96 md:h-80" style="background-image: url(/assets/cake.png);"></div>
  
      <div class="w-full md:w-3/4 h-screen grid grid-cols-1 md:grid-cols-5 gap-x-8 md:gap-x-32 place-items-center place-content-center px-4 md:px-0">
        <app-cards img="marrage.jpg" name="Marrage" slogan="Making Your Big Day Unforgettable!"></app-cards>
        <app-cards img="bd.jpg" name="Birthday" slogan="Celebrate Your Day, Your Way"></app-cards>
        <app-cards img="meet.jpg" name="Metting" slogan="Productive Meetings, Exceptional Results!"></app-cards>
        <app-cards img="party.jpg" name="Party" slogan="Let's Get This Party Started!"></app-cards>
        <app-cards img="gt.jpg" name="Get together" slogan="Perfect Gatherings, Every Time!"></app-cards>
      </div>
    </div>
  </div>