/* You can add global styles to this file, and also import other style files */
/* @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;


.p-stepper {
  flex-basis: 100rem;
  /* width: 120%; */
} 

:host {
  ::ng-deep
  .p-stepper-nav{
     /* margin-right: 500px; */
     background-color: white;
  }

}


.content{
height: 110rem;
}


.button1 {
  height: 30px;
  width: 80px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.button1:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.button1:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

