.list {
    padding: 10px;
    border: 1px solid #ccc;
    height: 250px;
    margin-bottom: 20px;
  }
  
  .list-item {
    padding: 5px 10px;
    background-color: #f4f4f4;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .list-item button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }