<div class="home h-fit w-screen  flex items-center justify-center relative z-50 text-[#4c6ef4]">
    <div class="flex flex-col justify-center w-screen items-center h-3/4  ">
     <div class="flex flex-row h-screen justify-center w-screen items-center p-32">
       <div class="flex flex-col w-1/2 space-y-10 ">
        <p class=" para sm:h-fit font-bold sm:w-full  text-4xl sm:text-5xl h-fit w-full text-wrap ">Great events start with great planning</p>
<app-loading></app-loading>
      </div>
      <div class="h-3/4 w-1/2 flex flex-col items-center justify-start bg-cover" style="background-image: url('../assets/ep.png');">
      
       
      </div>
    </div>
    <div class="h-64 w-1/2  rounded-md bg-[white] absolute bottom-32  border-[#10AE0D]">
    </div>
    <div class="h-32 w-full ">

    </div>
    <div class="h-64 w-screen  ">

    </div>
    
    </div>
  </div>
  