/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
    z-index: 10;
}

@media (max-width: 480px) {
    .para{
        height: 10rem;
        display: inline-block;
    }
  }