

<div class="h-screen w-screen  bg-gradient-to-r from-violet-200 to-pink-200   flex items-center justify-center" >
    <div class="flex flex-row justify-centre w-screen items-center h-3/4">
        <div class="flex flex-col w-3/4 ml-32">
        <p class="h-64 font-bold w-3/4 font-nav text-7xl ">Great events starts with great planning</p>
    <app-loading></app-loading>
    </div>
    <div class="h-3/4 w-1/2 mr-32">
<!-- <div class="svg  flex justify-center h-3/4  items-center ">
    <svg id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
        <defs>
            <clipPath id="blob">
                <path fill="#474bff" d="M442,291Q417,342,383,385.5Q349,429,294.5,443.5Q240,458,184.5,445Q129,432,84,394Q39,356,40.5,298Q42,240,44,184Q46,128,94.5,100Q143,72,191.5,48.5Q240,25,291,44Q342,63,387.5,95.5Q433,128,450,184Q467,240,442,291Z" />
            </clipPath>
        </defs>
        <image x="0" y="0" width="100%" height="100%" clip-path="url(#blob)" xlink:href="https://miro.medium.com/v2/resize:fit:701/1*vz4SLpgT4Zq2lRTMx9l4FQ.png" preserveAspectRatio="xMidYMid slice"></image>
    </svg>
</div>  -->
<svg id="10015.io" viewBox="0 0 480 480" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
	<path fill="#474bff" d="M391,334Q349,428,239.5,429.5Q130,431,73.5,335.5Q17,240,70,138.5Q123,37,233.5,48.5Q344,60,388.5,150Q433,240,391,334Z" />
</svg>
 </div>

</div>
</div>